<%- include('./partials/header') %>
<header>
    <div class="navbar">
    <div class="container">
        <div class="nav-left">
            <div class="header-logo">
                <a href="/">
                    <figure>
                        <img src="/assets/images/home/header-logo.svg">
                    </figure>
                </a>
            </div>
        </div>
        <div class="nav-right">
            <ul class="nav-menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                <a href="/company" class="active">Company</a>
                </li>
                <!-- <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li> -->
            </ul>
            <div class="collapse-icon" id="show-sidenav">
                <img src="/assets/images/home/Hamburger.png">
            </div>
        </div>
    </div>
    </div>
    <div class="sidenav">
        <div class="sidenav-wrapper">
           <figure class="sidenav-logo">
              <img src="/assets/images/home/header-logo.svg">   
           </figure>
           <ul class="sidenav-menu">
              <li>
                  <a href="/">Home</a> 
              </li>
              <li>
                  <a href="/company" class="active">Company</a> 
              </li>
              <!-- <li>
                  <a href="#">Products</a> 
              </li>
              <li>
                  <a href="#">Blog</a> 
              </li>
              <li>
                  <a href="#">Contact</a> 
              </li> -->
           </ul>
        </div>
        <div class="close-sidenav" id="hide-sidenav">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg>
        </div>
     </div>
</header>
<main>
        <section class="page-header">
          <div class="container">
              <div class="headings">
                <h1>
                    <span class="d-block">
                        Building 
                    </span>the future of borderless trading
                </h1>
                <p>
                    The digital economy is encouraging retail investors
                    to move from centralized investment /assets to
                    decentralized investment /assets where they have
                    unlimited options to take, from small to large
                    investment opportunities.
                    <span  class="d-sm-none mt-3 d-block">
                        We aim to develop Valuit into a  digital blockchain-based platform that will help
                        investors convert their /assets into digital tokens and raise funding from countless
                        investors from the decentralized global market. Our platform will facilitate conversion
                        of real /assets into digital tokens, enhancing secured transaction processing and creating
                        a digital disruption within the financial services industry that will ensure ownership of 
                        partial /assets and commodities by small investors. 
                    </span>
                </p>
              </div>
              <div class="content d-sm-block d-none ">
                  <p class="ps-0">
                      We aim to develop Valuit into a  digital blockchain-based platform that will help
                      investors convert their /assets into digital tokens and raise funding from countless
                      investors from the decentralized global market. Our platform will facilitate conversion
                      of real /assets into digital tokens, enhancing secured transaction processing and creating
                      a digital disruption within the financial services industry that will ensure ownership of 
                      partial assets and commodities by small investors.                      
                  </p>
              </div>
          </div>
          <figure class="page-header-bg">
             <img src="/assets/images/company/top-right-world-map-full.png"> 
          </figure>      
        </section>
        <section class="team">
          <div class="container">
            <div class="headings">
                  <h1 class="text-md-center">
                      Team
                  </h1>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-3 ps-lg-5 pe-lg-5">
                   <div class="team-card">
                      <figure class="member-img">
                        <img src="/assets/images/company/team/bankim.png">
                      </figure>
                      <div class="ms-3">
                          <h3 class="member-name">
                              Bankim<span class="d-block">Brahmbhatt</span>
                          </h3>
                          <p class="desig">
                              Chairman <span class="d-sm-block">Of The Board</span>
                          </p>
                      </div>
                   </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img">
                          <img src="/assets/images/company/team/raj.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Raj<span class="d-block">Brahmbhatt</span>
                            </h3>
                            <p class="desig">
                                Co-Founder, <span class="d-block">Managing Director</span>
                            </p>
                        </div>    
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img">
                          <img src="/assets/images/company/team/aren.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Aren<span class="d-block">Bagci</span>
                            </h3>
                            <p class="desig">
                                Co-Founder, <span class="d-block">Managing Director</span>
                            </p>
                        </div>    
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img">
                          <img src="/assets/images/company/team/kevin.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Kevin<span class="d-block">Cafeo</span>
                            </h3>
                            <p class="desig">
                                Co-Founder, <span class="d-block">Managing Director</span>
                            </p>                            
                        </div>
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img" >
                          <img src="/assets/images/company/team/santiago.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Santiago<span class="d-block">Shammah</span>
                            </h3>
                            <p class="desig">
                                Chief Strategy <span class="d-block">Officer</span>
                            </p>
                        </div>  
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img">
                          <img src="/assets/images/company/team/sean.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Sean<span class="d-block">Byrnes</span>
                            </h3>
                            <p class="desig">
                                Chief Financial<span class="d-block">Officer</span>
                            </p>
                        </div>  
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img" >
                          <img src="/assets/images/company/team/keshav.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name" >
                                Keshav<span class="d-block">Pandya</span>
                            </h3>
                            <p class="desig">
                                Chief Technology <span class="d-block">Officer</span>
                            </p>
                        </div>  
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img">
                          <img src="/assets/images/company/team/priyanka.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Priyanka<span class="d-block">Brahmbhatt</span>
                            </h3>
                            <p class="desig">
                                Chief Marketing <span class="d-block">Officer</span>
                            </p>
                        </div>  
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img" >
                            <img src="/assets/images/company/team/penny.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Penny<span class="d-block">Wong</span>
                            </h3>
                            <p class="desig">
                                Chief Information <span class="d-block">Security Officer</span>
                            </p>
                        </div>  
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img">
                          <img src="/assets/images/company/team/jigar.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Jigar<span class="d-block">Bhatt</span>
                            </h3>
                            <p class="desig">
                                Chief Compliance<span class="d-block">Officer</span>
                            </p>                            
                        </div>
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img">
                          <img src="/assets/images/company/team/mrudul.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Mrudul<span class="d-block">Chauhan</span>
                            </h3>
                            <p class="desig">
                                Head Business<span class="d-block">Analyst</span>
                            </p>
                        </div>  
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img">
                          <img src="/assets/images/company/team/rob.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Rob<span class="d-block">Baschnagel</span>
                            </h3>
                            <p class="desig">
                                VP Of<span class="d-block">Operations</span>
                            </p>
                        </div>  
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img">
                          <img src="/assets/images/company/team/viral.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Viral<span class="d-block">Tripathi</span>
                            </h3>
                            <p class="desig">
                                Chief Legal<span class="d-block">Officer</span>
                            </p>
                        </div>  
                     </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 ps-lg-5 pe-lg-5">
                    <div class="team-card">
                        <figure class="member-img">
                          <img src="/assets/images/company/team/elena.png">
                        </figure>
                        <div class="ms-3">
                            <h3 class="member-name">
                                Elena<span class="d-block">Poliakova</span>
                            </h3>
                            <p class="desig">
                                Strategic<span class="d-block">Partnerships</span>
                            </p>                            
                        </div>
                     </div>
                </div>
            </div>
          </div>  
        </section>
        <section class="roadmap">
            <div class="container">
                <div class="headings">
                   <h1 class="text-center">Roadmap</h1>
                </div> 
                <div class="roadmap-wrapper">
                   <li class="roadmap-content">
                     <div class="roadmap-content-wrapper">
                         <div class="quarter">
                            <div class="quarter-wrapper">
                                <h3 class="quarter-year">
                                    Q4
                                </h3>
                                <span class="d-block">2021</span>
                            </div> 
                         </div>
                         <p>
                             Company registration, development of website, and Valuit's
                             initial blockchain-based platform.
                         </p>
                     </div>    
                   </li>
                   <li class="roadmap-content">
                     <div class="roadmap-content-wrapper">
                        <div class="quarter">
                            <div class="quarter-wrapper">
                                <h3 class="quarter-year">
                                    Q1
                                </h3>
                                <span class="d-block">2022</span>
                            </div> 
                         </div>
                         <p>
                             Initial testing and launch of the Valuit platform, dApps & mining
                             app. Initial development of artificial intelligence service (AIS),
                             website launch & announcement. Development of Valuit's
                             marketplace for trading Valuit tokens and other digital assets.
                             
                         </p>
                     </div>  
                   </li>
                   <li class="roadmap-content">
                     <div class="roadmap-content-wrapper">
                        <div class="quarter">
                            <div class="quarter-wrapper">
                                <h3 class="quarter-year">
                                    Q2
                                </h3>
                                <span class="d-block">2022</span>
                            </div> 
                         </div>
                         <p>
                             ICO launch, payment system development, testing, and launch.
                             Artificial intelligence service (AIS) model training.
                         </p>
                     </div>
                   </li>  
                   <li class="roadmap-content">
                    <div class="roadmap-content-wrapper">
                       <div class="quarter">
                           <div class="quarter-wrapper">
                               <h3 class="quarter-year">
                                   Q3
                               </h3>
                               <span class="d-block">2022</span>
                           </div> 
                        </div>
                        <p>
                            Artificial intelligence service (AIS) deep learning model and advanced service model development Addition of Swipe within the Valuit network to enhance platform's acceptability across major payment platforms. Addition of P2P payment platform within Valuit platform that would enhance platform's acceptability.
                        </p>
                    </div>
                  </li>  
                  <li class="roadmap-content">
                    <div class="roadmap-content-wrapper">
                       <div class="quarter">
                           <div class="quarter-wrapper">
                               <h3 class="quarter-year">
                                   Q4
                               </h3>
                               <span class="d-block">2022</span>
                           </div> 
                        </div>
                        <p>
                            Valuit team collaboration platform development
                        </p>
                    </div>
                  </li>  
                  <li class="roadmap-content">
                    <div class="roadmap-content-wrapper">
                       <div class="quarter">
                           <div class="quarter-wrapper">
                               <h3 class="quarter-year">
                                   Q1
                               </h3>
                               <span class="d-block">2023</span>
                           </div> 
                        </div>
                        <p>
                            Valuit growth across North America and Europe, Valuit benefits administration development
                        </p>
                    </div>
                  </li>  
                  <li class="roadmap-content">
                    <div class="roadmap-content-wrapper">
                       <div class="quarter">
                           <div class="quarter-wrapper">
                               <h3 class="quarter-year">
                                   Q2
                               </h3>
                               <span class="d-block">2023</span>
                           </div> 
                        </div>
                        <p>
                            Valuit to transform the entire global investment raising platform industry
                        </p>
                    </div>
                  </li>  
                </div>  
            </div>
            <img class="img-1" src="/assets/images/company/bottom-left.png">
            <img class="img-2" src="/assets/images/company/bottom-right.png"> 
        </section>
<%- include('./partials/footer') %>