<%- include('./partials/header') %>
<header>
    <div class="navbar">
    <div class="container">
        <div class="nav-left">
            <div class="header-logo">
                <a href="/">
                    <figure>
                        <img src="/assets/images/home/header-logo.svg">
                    </figure>
                </a>
            </div>
        </div>
        <div class="nav-right">
            <ul class="nav-menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                <a href="/company" class="active">Company</a>
                </li>
                <!-- <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li> -->
            </ul>
            <div class="collapse-icon" id="show-sidenav">
                <img src="/assets/images/home/Hamburger.png">
            </div>
        </div>
    </div>
    </div>
    <div class="sidenav">
        <div class="sidenav-wrapper">
           <figure class="sidenav-logo">
              <img src="/assets/images/home/header-logo.svg">   
           </figure>
           <ul class="sidenav-menu">
              <li>
                  <a href="/">Home</a> 
              </li>
              <li>
                  <a href="/company" class="active">Company</a> 
              </li>
              <!-- <li>
                  <a href="#">Products</a> 
              </li>
              <li>
                  <a href="#">Blog</a> 
              </li>
              <li>
                  <a href="#">Contact</a> 
              </li> -->
           </ul>
        </div>
        <div class="close-sidenav" id="hide-sidenav">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg>
        </div>
     </div>
</header>
<main>
<div class="container">
 <section>
    <h1 style="font-size: 2rem;">
        <strong>
            Disclaimer for Valuit
        </strong>
    </h1>

    <p>If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at contact@valuit.io</p>
    
    <h2 style="font-size: 2rem;">
        <strong>
            Disclaimers for https://valuit.io
        </strong>
    </h2>
    
    <p>All the information on this website - https://valuit.io - is published in good faith and for general information purpose only. https://valuit.io does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (https://valuit.io), is strictly at your own risk. https://valuit.io will not be liable for any losses and/or damages in connection with the use of our website.</p>
    
    <p>From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>
    
    <p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.</p>
    
    <h2 style="font-size: 2rem;">
        <strong>
            Consent
        </strong>
    </h2>
    
    <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
    
    <h2 tyle="font-size: 2rem;">
        <strong>
            Update
        </strong>
    </h2>
    
    <p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
 </section>
</div>


<%- include('./partials/footer') %>