<%- include('./partials/header') %>
<header>
    <div class="navbar">
    <div class="container">
        <div class="nav-left">
            <div class="header-logo">
                <a href="/">
                    <figure>
                        <img src="/assets/images/home/header-logo.svg">
                    </figure>
                </a>
            </div>
        </div>
        <div class="nav-right">
            <ul class="nav-menu">
                <li>
                    <a href="/" class="active">Home</a>
                </li>
                <li>
                <a href="/company">Company</a>
                </li>
                <!-- <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li> -->
            </ul>
            <div class="collapse-icon" id="show-sidenav">
                <img src="/assets/images/home/Hamburger.png">
            </div>
        </div>
    </div>
    </div>
    <div class="sidenav">
        <div class="sidenav-wrapper">
           <figure class="sidenav-logo">
              <img src="/assets/images/home/header-logo.svg">   
           </figure>
           <ul class="sidenav-menu">
              <li>
                  <a href="/" class="active">Home</a> 
              </li>
              <li>
                  <a href="/company">Company</a> 
              </li>
              <!-- <li>
                  <a href="#">Products</a> 
              </li>
              <li>
                  <a href="#">Blog</a> 
              </li>
              <li>
                  <a href="#">Contact</a> 
              </li> -->
           </ul>
        </div>
        <div class="close-sidenav" id="hide-sidenav">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg>
        </div>
     </div>
</header>
<main>
<section class="banner">
           <div class="banner-wrapper">
              <div class="container">
                  <div class="banner-content">
                      <div class="headings">
                          <h1>
                              <span class="d-block d-lg-inline">Invest</span> in the <span class="d-lg-block">future of investing</span> 
                          </h1>
                          <p class="banner-descp">
                            Valuit is a FinTech platform that makes alternative assets accessible to retail investors that previously could not participate due to market entry barriers. Purchase cash bearing assets through Valuit to diversify your portfolio and participate in our digital economy.
                          </p>
                          <p class="tag">Download our whitepaper now</p>
                          <button  class="custom-btn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popup">
                           <?xml version="1.0" encoding="utf-8"?>
                           <!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 1044.1 797" style="enable-background:new 0 0 1044.1 797;" xml:space="preserve">
                           <style type="text/css">
                               .st0{fill:#FFFFFF;}
                           </style>
                           <g id="_x23_ffffffff">
                           </g>
                           <g id="_x23_6b4beeff">
                               <path class="st0" d="M663.9,17c1.3-4.9,5.9-8.7,11-9c4-0.4,8,1.4,10.7,4.4c114.6,120.7,229.3,241.4,343.9,362.1
                                   c2.1,2.3,4.4,4.4,6.3,6.8c3.5,4.6,3.1,11.5-0.8,15.7c-116.5,128.5-233,257-349.5,385.4c-4.4,5.3-13.1,5.9-18,1
                                   c-5.3-4.6-5.2-13.5-0.1-18.2c110.1-121.3,220.1-242.8,330.2-364.1c-325.8,0-651.7,0-977.5,0c-6.3,0.6-12.6-3.9-13.6-10.2
                                   c-1.7-7.5,4.9-15.2,12.6-14.8c325.9,0,651.8,0,977.7,0C886.7,260.5,776.8,144.8,666.9,29.1C663.9,25.9,662.6,21.2,663.9,17z"/>
                           </g>
                           </svg>
                          </button>
                      </div>
                  </div> 
              </div>
           </div>
           <figure class="banner-background" >
               <img class="main-img" src="/assets/images/home/banner.png">
               <div class="etherium etherium-1 load">
                   <img  src="/assets/images/home/ethereum.svg"/>
               </div>
               <div class="etherium etherium-2 load">
                   <img  src="/assets/images/home/ethereum.svg"/>
               </div>
               <div class="etherium etherium-3 load">
                   <img  src="/assets/images/home/ethereum.svg"/>
               </div>
               <div class="etherium etherium-4 load">
                   <img  src="/assets/images/home/ethereum.svg"/>
               </div>
           </figure>
           <figure class="coin-1 load">
             <img src="/assets/images/home/Coin-1.png">
           </figure>
           <figure class="coin-2 load">
             <img src="/assets/images/home/Coin-3.png">
           </figure>
           <figure class="coin-3 load">
            <img src="/assets/images/home/Coin-2.png">
          </figure>
           <figure class="banner-img-1">
               <img src="/assets/images/home/banner.png">
               <div class="top-img">
                 <img src="/assets/images/home/top.png"/>
               </div>
               <div class="etherium etherium-1">
                <img  src="/assets/images/home/ethereum.svg"/>
                </div>
                <div class="etherium etherium-2">
                    <img  src="/assets/images/home/ethereum.svg"/>
                </div>
                <div class="etherium etherium-3">
                    <img  src="/assets/images/home/ethereum.svg"/>
                </div>
                <div class="etherium etherium-4">
                    <img  src="/assets/images/home/ethereum.svg"/>
                </div>
           </figure>
           <img class="banner-img-2" src="/assets/images/home/L.png">
           <img class="banner-img-3" src="/assets/images/home/R.png"> 

</section>
<section class="tokenize-ur-world">
           <div class="container">
               <div class="headings">
                  <h1>Tokenize 
                   <span class="d-block">Your World</span></h1>
                   <p class="descp ps-0">
                    Valuit enables you to invest in assets ranging from top-music catalogues to pharmaceutical patents. Through our proprietary blockchain-enabled platform, you have the ability to trade, receive dividends, and transfer your assets anywhere in the world.
                       <span class="paragraph-2 mt-3">
                        Join our community of investors seeking alternative assets with high returns. Valuit is purchasing a multitude of assets tailored to our community's investment goals.
                       </span>
                   </p>


               </div>
               <div class="content">
                   <p class="ps-0">
                       <span class="paragraph-1 mb-3">
                        Join our community of investors seeking alternative assets with high returns. Valuit is purchasing a multitude of assets tailored to our community's investment goals.
                       </span>
                       Stay up-to-date on our social media and trends to make sure you don’t miss on the next big play.
                   </p>
               </div>    
               <div class="community">
                 <h2 class="community-heading" class="content">
                    The Three Pillars of Valuit
                 </h2>
                 <div class="community-cards">
                    <div class="row">
                       <div class="col-lg-4 mb-4 mb-lg-0">
                          <div class="community-card" class="content">
                             <div class="community-card-wrapper d-flex d-lg-block align-items-center">
                                 <figure class="community-card-img">
                                    <img src="/assets/images/home/community-1.svg">  
                                 </figure>
                                 <p class="community-card-content ms-4 ms-lg-0">
                                    <span style="font-weight: bold;">ValuLaunch:</span> Bringing assets into the digital world
                                 </p>
                             </div>  
                          </div>
                       </div>
                       <div class="col-lg-4 mb-4 mb-lg-0">
                           <div class="community-card">
                               <div class="community-card-wrapper d-flex d-lg-block align-items-center" >
                                   <figure class="community-card-img">
                                      <img src="/assets/images/home/community-2.svg">  
                                   </figure>
                                   <p class="community-card-content ms-4 ms-lg-0">
                                        <span style="font-weight: bold;">ValuX:</span> Exchange and trading platform built for you
                                   </p>
                               </div>  
                            </div>
                       </div>
                       <div class="col-lg-4 mb-4 mb-lg-0">
                           <div class="community-card">
                               <div class="community-card-wrapper d-flex d-lg-block align-items-center" >
                                   <figure class="community-card-img">
                                      <img src="/assets/images/home/community-3.svg">  
                                   </figure>
                                   <p class="community-card-content ms-4 ms-lg-0">
                                        <span style="font-weight: bold;">ValuLearn:</span> Expand your knowledge to make sound investments
                                   </p>
                               </div>  
                            </div>
                       </div>
                    </div>
                 </div> 
               </div>
           </div>
</section>
<section class="mobile-mining tokenizing-music">
    <div class="container">
        <h2 class="heading">
            Tokenizing Music ft. Valuit
        </h2>
        <p class="descp">End-to-end tokenization of music royalities and patents, so investors can create assets in the talent economy</p>
    </div>
    <div class="container">
        <div class="img-container" >
            <figure>
                <img src="/assets/images/home/tokenizing-music.png">
            </figure>
        </div>
    </div>
    <div class="mobile-mining-cards">
        <div class="container">
            <h2 class="cards-heading">The opportunity</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mobile-mining-card">
                    <div class="mining-card-img">
                        <figure>
                            <img src="/assets/images/home/tokenizing-music/1.png">
                        </figure>
                    </div>
                    <p class="card-content">
                        Ability to invest in a proven asset class, which is currently private and inaccesible
                    </p>
                    </div>
                </div> 
                <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="mobile-mining-card card-2">
                    <div class="mining-card-img">
                        <figure>
                            <img src="/assets/images/home/tokenizing-music/2.png" style="    margin-top: -22px;">
                        </figure>
                    </div>
                    <p class="card-content">
                        Lower risk on returns due to lower assets reactivity to market fluctuations
                    </p>
                    </div>
                </div> 
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="mobile-mining-card card-3">
                        <div class="mining-card-img last-1">
                            <figure>
                                <img src="/assets/images/home/tokenizing-music/3.png" style="margin-top: -10px;">
                            </figure>
                        </div>
                        <p class="card-content">
                            Consistent long-term gains at regular intervals
                        </p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4" style="padding: 0px 30px">
        <button class="custom-btn filled" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popup">
            <span style="color: #fff;">Start your musical investment journey</span>
            <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 1044.1 797" style="enable-background:new 0 0 1044.1 797;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#FFFFFF;}
                </style>
                <g id="_x23_ffffffff">
                </g>
                <g id="_x23_6b4beeff">
                    <path class="st0" style="fill: #fff;" d="M663.9,17c1.3-4.9,5.9-8.7,11-9c4-0.4,8,1.4,10.7,4.4c114.6,120.7,229.3,241.4,343.9,362.1
                        c2.1,2.3,4.4,4.4,6.3,6.8c3.5,4.6,3.1,11.5-0.8,15.7c-116.5,128.5-233,257-349.5,385.4c-4.4,5.3-13.1,5.9-18,1
                        c-5.3-4.6-5.2-13.5-0.1-18.2c110.1-121.3,220.1-242.8,330.2-364.1c-325.8,0-651.7,0-977.5,0c-6.3,0.6-12.6-3.9-13.6-10.2
                        c-1.7-7.5,4.9-15.2,12.6-14.8c325.9,0,651.8,0,977.7,0C886.7,260.5,776.8,144.8,666.9,29.1C663.9,25.9,662.6,21.2,663.9,17z"/>
                </g>
                </svg>
            </button>
    </div>
</section>
<section class="mobile-mining">
    <div class="container">
        <div class="headings">
            <h1>Trade
            <span class="d-block">From Anywhere</span></h1>
            <p class="mt-4">
                Valuit’s mobile application allows you to make trades on the go from anywhere in the world. Our intuitive interface gives you all the tools required to make investments directly from your phone in a variety of assets previously only available to large private equity and venture capital funds.                         
            </p>
        </div>
        
    </div>
    <figure class="mobile-mining-1">
        <img  src="/assets/images/home/mobile-mining/mobile-mining.png">
        <div class="mobile-coin">
            <img src="/assets/images/home/mobile-mining/coin-phone-right.png">
        </div>
    </figure>
    <figure class="mobile-mining-2">
        <div class="coin">
            <img src="/assets/images/home/mobile-mining/single-left.png">
        </div>
        <img  src="/assets/images/home/mobile-mining/Mobile-Mining-Coins-L.png">               
    </figure>
    <img class="mobile-mining-3" src="/assets/images/home/Mobile-Mining-Coins-R.png">
    <div class="mobile-mining-cards">
        <div class="container">
            <h2 class="cards-heading">What you can do through Valuit</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mobile-mining-card">
                    <div class="mining-card-img">
                        <figure>
                            <img src="/assets/images/home/majoractivities-1.svg">
                        </figure>
                    </div>
                    <p class="card-content">
                        Users will be able to purchase initial NFTs and asset launches through ValuLaunch. Make sure to stay in tune with the next big asset launch so you don’t miss out on the biggest returns.
                    </p>
                    </div>
                </div> 
                <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="mobile-mining-card card-2">
                    <div class="mining-card-img">
                        <figure>
                            <img src="/assets/images/home/majoractivities-2.svg">
                        </figure>
                    </div>
                    <p class="card-content">
                        Users can buy, sell, and trade their assets to others on the platform through ValuX. Our hybrid exchange combines both centralized and decentralized market making to increase liquidity and efficiency throughout the platform. 
                    </p>
                    </div>
                </div> 
                <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="mobile-mining-card card-3">
                    <div class="mining-card-img last-1">
                        <figure>
                            <img src="/assets/images/home/majoractivities-3.svg">
                        </figure>
                    </div>
                    <p class="card-content">
                        Hold your tokens and receive quarterly dividends paid directly to your wallet. Our NFTs are backed by cash-generating assets that lets your money go to work for you. 
                    </p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <button class="custom-btn filled" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popup">
            <span>Download Whitepaper</span>
            <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 1044.1 797" style="enable-background:new 0 0 1044.1 797;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#FFFFFF;}
                </style>
                <g id="_x23_ffffffff">
                </g>
                <g id="_x23_6b4beeff">
                    <path class="st0" d="M663.9,17c1.3-4.9,5.9-8.7,11-9c4-0.4,8,1.4,10.7,4.4c114.6,120.7,229.3,241.4,343.9,362.1
                        c2.1,2.3,4.4,4.4,6.3,6.8c3.5,4.6,3.1,11.5-0.8,15.7c-116.5,128.5-233,257-349.5,385.4c-4.4,5.3-13.1,5.9-18,1
                        c-5.3-4.6-5.2-13.5-0.1-18.2c110.1-121.3,220.1-242.8,330.2-364.1c-325.8,0-651.7,0-977.5,0c-6.3,0.6-12.6-3.9-13.6-10.2
                        c-1.7-7.5,4.9-15.2,12.6-14.8c325.9,0,651.8,0,977.7,0C886.7,260.5,776.8,144.8,666.9,29.1C663.9,25.9,662.6,21.2,663.9,17z"/>
                </g>
                </svg>
            </button>
    </div>
    <img  class="mining-footer-img" src="/assets/images/home/footer-Coins.png">

</section>



<%- include('./partials/footer') %>
       
   