//Color
$primary-color:#6b4bee;
$text-color:#0d051d;
$white-color:#fff;
$bg-light:#f8fbff;
$bg-dark: #140d2f;
$bg-card: #2e2169;
// breakpoints
$small-mobile: 376px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$small-desktop: 1024px;
$desktop: 1200px;
$large-desktop: 1400px;
$xl-desktop:2200px
